#main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container, #player, .control {
    outline: 1px solid red;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    height: 70vh;
    width: 600px;
}

#player {
    flex-grow: 3;
    display: flex;
    align-items: flex-end;
}

#player .control {
    outline: 1px solid cyan;
    background-color: orange;
    height: 10%;
    width: 100%;
}

#phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(imgs/phone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
}

#keypad {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#dial_button {
    margin: 2%;
    width: 68%;
}
#keypad button {
    width: 30%;
    margin: 1%;
}

#dialed_number {
    text-align: right;
    width: 70%;
    padding: 2%;
    padding-right: 5%;
}