body {
    
}

#main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container, #player {
    font-family: 'Righteous', cursive;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    height: 80vh;
    width: 700px;
}

#dialed_number {
    text-align: right;
}

#dialed_container {
    display: flex;
    width: 70%;
    padding: 2%;
    padding-right: 5%;
    justify-content: flex-end;
}
#backspace {
    background-image: url(imgs/backspace-arrow.png);
    width: 30px;
    height: 30px;
    margin-left: 5%;
}

#playing_name {
    background-color: white;
    width: 100%;
}
#visualization {
    flex-grow: 1;
}
#player {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#player progress {
    width: 100%;
}

.control {
    background-color: orange;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(imgs/phone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 25%;
    font-family: 'Righteous', cursive;
}

#keypad {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#dial_button {
    margin: 2%;
    width: 68%;
    border: 1px solid black;
}
#keypad button {
    width: 30%;
    margin: 1%;
    border: 1px solid black;
    border-width: 0 0 1px 0;
    background-color: whitesmoke;
    transition: background-color 0.5s ease;
}
#keypad button:hover {
    background-color: lightgray;
}

#keypad button:active {
    background-color: green;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}
.control button, .control .volume span, #backspace {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.control button:hover {
    transform: scale(1.2);
}
.control .play {
    background-image: url(imgs/play-button.png);
    width: 30px;
    height: 30px;
}
.control .pause {
    background-image: url(imgs/pause.png);
    display: none;
}
.control .stop {
    background-image: url(imgs/stop.png);
    width: 15px;
    height: 15px;
}
.control .next {
    background-image: url(imgs/next.png);
}
.control .previous {
    background-image: url(imgs/back.png);
}
.volume {
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume img {
    height: 15px;
    margin: 3%;
}